.worksContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-top: 2rem;
}

.work {
  align-items: center;
  background: #eee;
  border-radius: 8px;
  display: flex;
  height: 200px;
  justify-content: center;
  justify-items: center;
  width: 300px;
}

.work p {
  font-size: xx-large;
  font-weight: bold;
}
